/* style.css */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100;200;400&display=swap');

body {
    font-family: 'M PLUS Code Latin', 'Arial', sans-serif;
    background-color: #b3b5b5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh

}

.header {
    font-family: 'M PLUS Code Latin', 'Arial', sans-serif;
    background-color: #4B8BBE;
    color: #FFE873;
    padding: 20px;
    text-align: center;
}


.container {
    background-color: #b3b5b5;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(3, 142, 33, 0.1);
    overflow: hidden;
    width: 100%;
    /* height: 100%; */
}


.code-container {
    padding: 20px;
    border-radius: 0px;

}

.label {
    font-size: large;
    width: 80%;
}

#output {
    padding: 5px;
    overflow-y: scroll;
}

textarea {
    width: 100%;
    height: 200px;
    resize: none;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

button {
    background-color: #4B8BBE;
    color: #FFE873;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: #0056b3;
}

.output {
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
}

.footer {
    color: #000000;
    padding: 10px;
    text-align: center;
}


.CodeMirror {
    height: auto;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.CodeMirror-focused {
    height: auto;
    border: 1px solid #000000;
    border-radius: 5px;
}