<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Python Compiler</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Include CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">

    <!-- Include CodeMirror theme (optional) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.min.css">

    <!-- Include CodeMirror JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>

    <!-- Include CodeMirror mode (e.g., Python) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>


</head>
<body>

    <div class="container">
        <div class="header">
            <h1>Online Python Compiler</h1>
        </div>
        <div class="code-container">
            <label for="input" class="label">Input:</label>
            <textarea id="pythonCode" name="code" style="display: none;"></textarea>
            <br>
            <button onclick="compileCode()">Run</button>
            <button>Share</button>
            <br>

            <label for="output" class="label">Output:</label>
            <div for="output" id="output" class="CodeMirror cm-s-dracula"></div>
        </div>
        <div class="footer">
            Online Python Compiler 2024
        </div>
    </div>


    <script src="{{ url_for('static', filename='./compileCode.js') }}"></script>


</body>
</html>